<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<h3>Selling a product for a movie</h3>

<input placeholder="category" ng-model="model.product.category">
<input placeholder="description" ng-model="model.product.description">
<input placeholder="price" ng-model="model.product.price">
<input placeholder="imageUrl" ng-model="model.product.imageUrl">

<div class="btn btn-primary" ng-click="model.createProduct(model.userId, model.movieId, model.product)">
    Post Product
</div>