html, body, .wrapper {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

a:hover {
    cursor: pointer;
}

.intro {
    background-image: url("../img/laptop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;

    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.intro-text-name {
    font-family: 'Pacifico', cursive;
    font-size: 58px;
    padding-bottom: 8px;
    position: relative;
}

.intro-text-name::before {
    content: ' ';
    position: absolute;
    top: 50%;
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
    zoom: 1;
    background: #333;
    left: -40px;
}

.intro-text-name::after {
    content: ' ';
    position: absolute;
    top: 50%;
    height: 2px;
    width: 80px;
    margin: 0 10px;
    display: inline-block;
    zoom: 1;
    background: #333;
    right: -40px;
}

.intro-text-subtitle {
    font-size: 20px;
    margin-bottom: 12px;
}

.github-btn {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.67);
}

.home-page-name {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.profile {
    background: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
}

.profile-pic-wrapper {
}

.profile-pic {
    height: 250px;
    border-radius: 30px;
}

.profile-description {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    font-size: 16px;
}

.profile-description-1 {
    margin-bottom: 25px;
}

.work-header {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.project-row {
    height: 250px;
}

.project-pic {
    background-image: url("../img/movie-index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    height: 100%;
    border-radius: 30px;
}

.project-description {
    height: 100%;
    padding-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.project-description-2 {
    margin-top: 10px;
}

.project-mongo-link {
    margin-bottom: 10px;
}

.assignment-row {
    margin-top: 25px;
    height: 250px;
}

.assignment-pic {
    background-image: url("../img/assignment-pic.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: 50% 50%;
    height: 100%;
    border-radius: 30px;

    border: 1px rgba(165, 160, 179, 0.48) solid;
}

.assignment-description {
    padding-right: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;

}

.footer {
    background: #eee;
    min-height: 46px;
    margin-top: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}