input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

.wvs .navbar-default {
    background-color: #428bca;
    border-color: #7eacd4;
}

.wvs .navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    padding: 15px 0;
    margin-left: 0;
}

.wvs .plus_link {
    color: white;
}

.wvs .wvs-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .wvs .wvs-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}

.wvs-nav-icon {
    padding: 15px 0px;
    color: white;
}