input, textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.wvs .navbar-default {
    background-color: #428bca;
    border-color: #7eacd4;
}

.wvs .navbar-default .navbar-brand {
    color: white;
    font-weight: bold;
    padding: 15px 0;
    margin-left: 0;
}

.wvs .plus_link {
    color: white;
}

.wvs .wvs-split-view-left {
    position: absolute;
    top: 50px;
    padding-top: 10px;
    bottom: 0px;
    z-index: 1;
    overflow-y: scroll;
    border-right: #7eacd4 1px solid;
}

.wvs-split-view-left, .wvs-split-view-right {
    padding-bottom: 60px;
}

@media (min-width: 768px) {
    .wvs .wvs-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        overflow-y: scroll;
        top: 60px;
        bottom: 0px;
    }
}

.wvs-nav-icon {
    padding: 15px 0px;
    color: white;
}

.wvs-websites .wvs-left-arrow {
    margin-right: 15px;
}

.website-settings-icon {
    color: #428bca;
}

.wvs-websites .list-group-item {
    border: none;
}

@media (min-width: 576px) {
    .wvs-websites .list-group-item .col-xs-2 {
        padding-right: 0;
    }
}