<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<div class="mi-container container-fluid mi-search margin-top">
    <h2>Search for User</h2>
    <form>
        <input placeholder="Username"
               ng-model="userName"
               class="form-control"/>
        <button ng-click="model.searchUserByName(userName)"
                class="btn btn-primary btn-block"
                type="submit">
            Search
        </button>
    </form>

    <ul class="list-group">
        <li ng-repeat="user in model.users" class="list-group-item">
            <a href="#!/profile/{{user._id}}">
                {{user.username}}
            </a>
        </li>
    </ul>
</div>