<h1>The Movie Database (TMDb) API</h1>
<h2>Movie Details</h2>
<h3>{{model.movie.title}}</h3>
<h4>{{model.movie.tagline}}</h4>
<img ng-src="https://image.tmdb.org/t/p/w185{{model.movie.poster_path}}"/>
<div>
    <div ng-switch="model.doesUserLikeMovie()">
        <div ng-switch-when="true">
            LIKED
        </div>
        <div ng-switch-when="false">
            NOT LIKED
        </div>
    </div>
    <a ng-click="model.likeMovie(model.userId, model.movie.id)">
        Like Movie
    </a>
    <div>
        <a ng-click="model.unlikeMovie(model.userId, model.movie.id)">
            Un-like Movie
        </a>
    </div>
</div>

<div>
    {{model.movie.overview}}
    <div>
        <h5>Release Date</h5> {{model.movie.release_date}}
    </div>
    <h4>Cast</h4>
    <ul>
        <li ng-repeat="actor in model.actors.cast">
            {{actor.name}}
        </li>
    </ul>
    <h4>Trailer</h4>
    <iframe width="560" height="315" ng-src="{{model.videoUrl}}" frameborder="0" allowfullscreen></iframe>
</div>