<div class="wvs wvs-pages">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/user/123/website/123/page">
                <span class="glyphicon glyphicon-chevron-left pull-left wvs-nav-icon wvs-left-arrow"></span>
            </a>
            <span class="navbar-brand">Edit Page</span>
            <a href="#!/user/123/website/123/page">
                <span class="glyphicon glyphicon-ok pull-right wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <label for="name">Name</label>
        <input name="name"
               placeholder="Page Name"
               type="text"
               value="Blog Post"
               class="form-control"
               id="name"/>

        <label for="title">Title</label>
        <input name="title"
               placeholder="Page Title"
               type="text"
               class="form-control"
               id="title"/>

        <a class="btn btn-default btn-danger btn-block"
           href="#!/user/123/website/123/page"
           role="button">Delete</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="#!/user/123">
                <span class="glyphicon glyphicon-user pull-right wvs-nav-icon wvs-profile-icon"></span>
            </a>
        </div>
    </nav>

</div>