<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<div class="mi-container container-fluid margin-top">
    <h1>Product Details</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Movie</h5>
        </div>
        <div class="panel-body">
            {{model.product.movieTitle}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Category</h5>
        </div>
        <div class="panel-body">
            {{model.product.category}}
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Description</h5>
        </div>
        <div class="panel-body">
            {{model.product.description}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Price</h5>
        </div>
        <div class="panel-body">
            {{model.product.price}}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h5>Image</h5>
        </div>
        <div class="panel-body">
            <img class="sale-image"
                 ng-src="{{model.product.imageUrl}}"
                 onerror="if (this.src != 'img/img-404.jpg') this.src = 'img/img-404.jpg';"/>
        </div>
    </div>

    <h4>Do you want to buy this?</h4>
    <div class="btn btn-success" ng-click="model.userBuyProduct(model.userId, model.productId)">
        Buy
    </div>
</div>