<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<div class="container-fluid mi-container margin-top">

    <div>
        <h2>Sell Mode</h2>

        <h3>What do you want to do?</h3>

        <a class="btn btn-default btn-primary btn-block margin-bottom"
           href="#!/sell/search"
           role="button">Sell a product</a>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Your products for sale</h2>
            </div>
            <div class="panel-body">
                <div ng-include src="'views/sell/templates/sell-table.component.client.html'"></div>
            </div>
        </div>

    </div>

</div>