<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<div class="container-fluid mi-container margin-top">

    <div>
        <h2>Sell Mode</h2>

        <h3>What do you want to do?</h3>

        <a class="btn btn-default btn-primary btn-block margin-bottom"
           href="#!/sell/search"
           role="button">Sell a product</a>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h2>Your products for sale</h2>
            </div>
            <div class="panel-body">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                        <th>Movie</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="product in model.products">
                        <td>{{product._movieId.title}}</td>
                        <td>{{product.category}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td>{{product.imageUrl}}</td>
                        <td>
                            <div ng-if="product.buyer" class="btn btn-info">
                                Sold to {{product.buyer}}
                            </div>
                            <div ng-if="!product.buyer" class="btn btn-warning">
                                Not sold
                            </div>
                        </td>
                        <td>
                            <div class="btn btn-danger" ng-click="model.deleteProduct(product._id)">
                                Delete
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>