<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<div class="mi-container container-fluid margin-top mi-inputs">
    <h3>Selling a product for a movie</h3>

    <form>
        <input placeholder="category"
               ng-model="model.product.category"
               class="form-control">
        <input placeholder="description"
               ng-model="model.product.description"
               class="form-control">
        <input placeholder="price"
               ng-model="model.product.price"
               class="form-control">
        <input placeholder="image url"
               ng-model="model.product.imageUrl"
               class="form-control">

        <button class="btn btn-primary btn-block"
                ng-click="model.createProduct(model.userId, model.movieId, model.product)"
                type="submit">
            Post Product
        </button>
    </form>
</div>