<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#!/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/user/">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/search">Movie-Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/search-user">User-Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/sell">Sell</a>
            </li>
            <li>
                Logged in as {{model.userId}}
            </li>
        </ul>
    </div>
</nav>