<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <i class="fa fa-film" aria-hidden="true"></i>
        MovieIndex
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
            <li class="nav-item">
                <a class="nav-link" href="#!/search">Movie-Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/search-user">User-Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#!/sell">Sell</a>
            </li>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <li ng-if="model.userId" class="nav-item"><a class="nav-link" href="#!/user">Profile</a></li>
            <li class="nav-item"><a class="nav-link" ng-click="model.logout()">Sign Out</a></li>
        </ul>
    </div>
</nav>