<div class="container-fluid">

    <div>
        <div ng-show="model.errorMessage" class="alert alert-danger">
            {{model.errorMessage}}
        </div>

        <h2>Login</h2>

        <input name="username"
               ng-model="model.user.username"
               placeholder="username"
               type="text"
               class="form-control"
               id="username"/>

        <input name="password"
               ng-model="model.user.password"
               placeholder="password"
               type="password"
               class="form-control"
               id="password"/>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="model.login(model.user)"
           role="button">Login</a>

        <a href="/project-api/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus"></span>
            Google
        </a>

        <a class="btn btn-default btn-success btn-block"
           href="#!/register"
           role="button">Register</a>

    </div>

</div>