<div class="wvs wvs-profile">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand">Profile</span>
            <a ng-click="model.updateUser(model.user._id, model.user)">
                <span class="glyphicon glyphicon-ok pull-right wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <div ng-show="model.updateMessage" class="alert alert-info">
            {{model.updateMessage }}
        </div>

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error }}
        </div>

        <label for="username">Username</label>
        <input name="username"
               ng-model="model.user.username"
               placeholder="username"
               type="text"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               ng-model="model.user.email"
               placeholder="alice@wonderland.com"
               class="form-control"
               id="email"/>

        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="model.user.firstName"
               placeholder="Alice"
               type="text"
               class="form-control"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="model.user.lastName"
               placeholder="Wonderland"
               type="text"
               class="form-control"
               id="lastName"/>

        <h4>Purchases</h4>
        <div ng-repeat="product in model.products" class="wvs-widget-list-item">
            <b>For Movie:</b> {{product.movieTitle}}
            <b>Category:</b> {{product.category}}
            <b>Description:</b> {{product.description}}
            <b>Price:</b> {{product.price}}
            <b>Image:</b> {{product.imageUrl}}
            <div>
                Sold by {{product._userId}}
            </div>
        </div>

        <h4>Liked Movies</h4>
        {{model.user.likedMovieNames}}

        <h4>Reviews</h4>
        <div ng-repeat="review in model.reviews" class="wvs-widget-list-item">
            "{{review.text}}" for Movie {{review.movieTitle}} <span ng-if="review.isRecommended" class="glyphicon glyphicon-ok"></span>
            <span ng-if="!review.isRecommended" class="glyphicon glyphicon-remove"></span>
        </div>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/search?userId={{model.userId}}"
           role="button">Search for Movies</a>

        <a class="btn btn-default btn-primary btn-block"
           href="#!/sell?userId={{model.userId}}"
           role="button">Enter Sell Mode</a>

        <a class="btn btn-default btn-danger btn-block"
           href="#!/login"
           role="button">Logout</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.deleteUser(model.user._id)"
           role="button">Unregister</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="#!/user/{{model.user._id}}">
                <span class="pull-right glyphicon glyphicon-user wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

</div>