<div class="wvs wvs-pages">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-chevron-left pull-left wvs-nav-icon wvs-left-arrow"></span>
            </a>
            <span class="navbar-brand">Widget Edit</span>
            <a ng-click="model.updateWidget(model.widgetId, model.widget)">
                <span class="glyphicon glyphicon-ok pull-right wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <label for="name">Name</label>
        <input name="name"
               ng-model="model.widget.name"
               placeholder="Image Name"
               type="text"
               class="form-control"
               id="name"/>

        <label for="text">Text</label>
        <input name="text"
               ng-model="model.widget.text"
               placeholder="Image Text"
               type="text"
               class="form-control"
               id="text"/>

        <label for="url">URL</label>
        <input name="url"
               ng-model="model.widget.url"
               placeholder="Image URL"
               type="url"
               value="https://i.kinja-img.com/gawker-media/image/upload/dw3l4m5ulgn6qqlhr7om.png"
               class="form-control"
               id="url"/>

        <label for="width">Width</label>
        <input name="width"
               ng-model="model.widget.width"
               placeholder="Image Width"
               type="text"
               class="form-control"
               id="width"/>

        <form action="/api/upload"   method="post" enctype="multipart/form-data">
            <input  name="myFile"    type="file" class="form-control"/>
            <input  name="width"     value="{{model.widget.width}}" style="display: none"/>
            <input  name="userId"    value="{{model.userId}}"   style="display: none"/>
            <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
            <input  name="pageId"    value="{{model.pageId}}"   style="display: none"/>
            <input  name="widgetId"  value="{{model.widgetId}}"   style="display: none"/>
            <button class="btn btn-default btn-primary btn-block"
               type="submit"
               role="button">Upload Image</button>
        </form>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="model.deleteWidget(model.widgetId)"
           role="button">Delete</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right wvs-nav-icon wvs-profile-icon"></span>
            </a>
        </div>
    </nav>

</div>