<div class="wvs wvs-pages">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="widget-list.html">
                <span class="glyphicon glyphicon-chevron-left pull-left wvs-nav-icon wvs-left-arrow"></span>
            </a>
            <span class="navbar-brand">Choose Widget</span>
        </div>
    </nav>

    <div class="container-fluid">
        <ul class="list-group">

            <li class="list-group-item">
                <a href="widget-heading.html">Header</a>
            </li>

            <li class="list-group-item">
                <a href="#">Label</a>
            </li>

            <li class="list-group-item">
                <a href="#">HTML</a>
            </li>

            <li class="list-group-item">
                <a href="#">Text Input</a>
            </li>

            <li class="list-group-item">
                <a href="#">Link</a>
            </li>

            <li class="list-group-item">
                <a href="#">Button</a>
            </li>

            <li class="list-group-item">
                <a href="widget-image.html">Image</a>
            </li>

            <li class="list-group-item">
                <a href="widget-youtube.html">YouTube</a>
            </li>

            <li class="list-group-item">
                <a href="#">Data Table</a>
            </li>

            <li class="list-group-item">
                <a href="#">Repeater</a>
            </li>

        </ul>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="profile.html">
                <span class="glyphicon glyphicon-user pull-right wvs-nav-icon wvs-profile-icon"></span>
            </a>
        </div>
    </nav>

</div>