<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<h1>The Movie Database (TMDb) API</h1>
<h2>Search by Movie Title</h2>
<input placeholder="Batman"
       ng-model="movieTitle"
       class="form-control"/>
<button ng-click="model.searchMovieByTitle(movieTitle)" class="btn btn-primary btn-block">
    Search
</button>

<table class="table">
    <tr ng-repeat="movie in model.movies.results">
        <td>
            <a href="#!/details/{{movie.id}}?userId={{model.userId}}">
                <h3>{{movie.title}}</h3>
            </a>
        </td>
        <td>
            <img ng-src="https://image.tmdb.org/t/p/w185{{movie.poster_path}}"/>
        </td>
    </tr>
</table>
