<div class="wvs wvs-websites">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="profile.html">
                <span class="glyphicon glyphicon-chevron-left pull-left wvs-nav-icon wvs-left-arrow"></span>
            </a>
            <span class="navbar-brand">Websites</span>
            <a href="website-new.html">
                <span class="glyphicon glyphicon-plus pull-right wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <ul class="list-group">

            <li ng-repeat="website in model.websites" class="list-group-item">
                <div class="row">
                    <div class="col-xs-10">
                        <a href="page-list.html">{{website.name}}</a>
                    </div>
                    <div class="col-xs-2">
                        <a href="website-edit.html" class="wvs-plus-link">
                            <span class="glyphicon glyphicon-cog pull-right wvs-settings-icon"></span>
                        </a>
                    </div>
                </div>
            </li>

        </ul>

        {{model.websites}}

    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="profile.html">
                <span class="pull-right glyphicon glyphicon-user wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

</div>