<div ng-include src="'views/navigation/templates/header.component.client.html'"></div>

<div class="mi-container container-fluid margin-top mi-inputs">

    <div ng-show="model.updateMessage" class="alert alert-info">
        {{model.updateMessage }}
    </div>

    <div ng-show="model.error" class="alert alert-danger">
        {{model.error }}
    </div>

    <label for="username">Username</label>
    <input name="username"
           ng-model="model.user.username"
           placeholder="username"
           type="text"
           class="form-control"
           id="username"
           readonly/>

    <label for="password">Password</label>
    <input name="password"
           ng-model="model.user.newPassword"
           placeholder="change your password here"
           type="text"
           class="form-control"
           id="password" />

    <label for="email">Email</label>
    <input name="email"
           type="email"
           ng-model="model.user.email"
           placeholder="alice@wonderland.com"
           class="form-control"
           id="email"/>

    <label for="firstName">First Name</label>
    <input name="firstName"
           ng-model="model.user.firstName"
           placeholder="Alice"
           type="text"
           class="form-control"
           id="firstName"/>

    <label for="lastName">Last Name</label>
    <input name="lastName"
           ng-model="model.user.lastName"
           placeholder="Wonderland"
           type="text"
           class="form-control"
           id="lastName"/>

    <a ng-click="model.updateUser(model.user._id, model.user)" class="btn btn-info btn-block margin-bottom">
        Update User
    </a>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Liked Movies</h2>
        </div>
        <div class="panel-body">
            <div class="mi-horizontal-scroll">
                <div ng-repeat="movie in model.user.likedMovies" class="hvr-curl-top-left">
                    <a href="#!/details/{{movie._id}}">
                        <img ng-src="https://image.tmdb.org/t/p/w154{{movie.poster_path}}"/>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>You are following</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-repeat="user in model.user.following" class="list-group-item">
                    <a href="#!/profile/{{user._id}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>You are being followed by</h2>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li ng-repeat="user in model.followedBy" class="list-group-item">
                    <a href="#!/profile/{{user._id}}">
                        {{user.username}}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Products Purchased</h2>
        </div>
        <div class="panel-body">
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Movie</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Image</th>
                    <th>Seller</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="product in model.productsPurchased">
                    <td>{{product._movieId.title}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.description}}</td>
                    <td>{{product.price}}</td>
                    <td>
                        <img class="sale-image"
                             ng-src="{{product.imageUrl}}"
                             onerror="if (this.src != 'img/img-404.jpg') this.src = 'img/img-404.jpg';"/>
                    </td>
                    <td>{{product._userId.username}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Products for sale</h2>
        </div>
        <div class="panel-body">
            <div ng-include src="'views/sell/templates/sell-table.component.client.html'"></div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2>Reviews</h2>
        </div>
        <div class="panel-body">
            <div ng-repeat="review in model.reviews" class="mi-movie-detail-review">
                <div class="container-fluid">
                    <h6>{{review._movieId.title}}</h6>
                    <div class="btn btn-success" ng-if="review.isRecommended">
                        <i class="fa fa-check" aria-hidden="true"></i> Recommended
                    </div>
                    <div class="btn btn-danger" ng-if="!review.isRecommended">
                        <i class="fa fa-times" aria-hidden="true"></i> Not Recommended
                    </div>
                    <div>
                        "{{review.text}}"
                    </div>
                </div>
                <div class="btn-warning btn" ng-click="model.deleteReview(review._id)">
                    Delete
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-default btn-danger btn-block"
       ng-click="model.deleteUser(model.user._id)"
       role="button">Unregister</a>
</div>

