<div class="wvs wvs-profile" ng-controller="profileController">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <span class="navbar-brand">Profile</span>
            <a href="profile.html">
                <span class="glyphicon glyphicon-ok pull-right wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <label for="username">Username</label>
        <input name="username"
               ng-model="user.username"
               placeholder="username"
               type="text"
               class="form-control"
               id="username"/>

        <label for="email">Email</label>
        <input name="email"
               type="email"
               value="jannunzi@gmail.com"
               placeholder="alice@wonderland.com"
               class="form-control"
               id="email"/>

        <label for="firstName">First Name</label>
        <input name="firstName"
               ng-model="user.firstName"
               placeholder="Alice"
               type="text"
               class="form-control"
               id="firstName"/>

        <label for="lastName">Last Name</label>
        <input name="lastName"
               ng-model="user.lastName"
               placeholder="Wonderland"
               type="text"
               class="form-control"
               id="lastName"/>

        <a class="btn btn-default btn-primary btn-block"
           href="website-list.html"
           role="button">Websites</a>

        <a class="btn btn-default btn-danger btn-block"
           href="login.html"
           role="button">Logout</a>

        <a class="btn btn-default btn-danger btn-block"
           ng-click="unregister()"
           role="button">Unregister</a>

        <a class="btn btn-default btn-primary btn-block"
           ng-click="updateUser()"
           role="button">Update</a>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="profile.html">
                <span class="pull-right glyphicon glyphicon-user wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

</div>