<div class="wvs wvs-pages">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon-chevron-left pull-left wvs-nav-icon wvs-left-arrow"></span>
            </a>
            <span class="navbar-brand">New Page</span>
            <a ng-click="model.createPage(model.websiteId, model.page)">
                <span class="glyphicon glyphicon-ok pull-right wvs-nav-icon"></span>
            </a>
        </div>
    </nav>

    <div class="container-fluid">

        <div ng-show="model.error" class="alert alert-danger">
            {{model.error}}
        </div>

        <label for="name">Name</label>
        <input name="name"
               ng-model="model.page.name"
               placeholder="Page Name"
               type="text"
               class="form-control"
               id="name"/>

        <label for="description">Description</label>
        <input name="description"
               ng-model="model.page.description"
               placeholder="Page Description"
               type="text"
               class="form-control"
               id="description"/>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <a href="#!/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right wvs-nav-icon wvs-profile-icon"></span>
            </a>
        </div>
    </nav>

</div>